html {
  box-sizing: border-box;
}

:root {
  --clr-bg: #e7ecf2;
  --clr-card-bg: #f8f8f8;
  --clr-shadow: #a3aebe;
  --clr-text: #333333;
  --clr-text-light: #a3aebe;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: monospace;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 3rem;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 500px;
  margin: 2em 0;
  padding: 2.5em 1em;
  background-color: var(--clr-card-bg);
  border-top: 5px solid #00bfff;
  border-radius: 5px;
  box-shadow: 0.1em 0.1em 0.5em var(--clr-shadow);
}

.exchange-rate {
  text-align: center;
}

.exchange-rate-title {
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--clr-text-light);
  margin: 1em 0;
}

.exchange-rate-amount {
  font-size: 2rem;
}

@media screen and (max-width: 550px) {
  .container {
    width: 100%;
  }
}
